.about {
    position: relative;
}

.john {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 50px;
    position: relative;
    width: 100%;
    height: 500px;
}

.cube-open {
    position: relative;
    width: 400px;
    height: 400px;
    z-index: 5;
    transition: .7s linear .3s;
    margin: auto;
}

.cube {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    background: transparent;
    transition: .9s linear .3s;
    animation: cube 15s linear infinite;
}

@keyframes cube {
    0% {
        transform: rotateX(-28deg) rotateY(8deg) rotate(0);
    }
    100% {
        transform: rotateX(-20deg) rotateY(360deg) rotate(360deg);
    }
}


.cube-light {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.cube-light span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(calc(98deg * var(--i))) translateZ(100px);
    background: linear-gradient(#c3e8ff, #7accff);
    border-radius: 10px;
    transition: 0.3s linear 0.35s;
}

.box-top {
    position: absolute;
    left: 0;
    top: 130%;
    height: 200px;
    width: 200px;
    background: #7accff;
    box-shadow: inset 0px 0px 50px #c3e8ff, inset 0px 2px 20px #219cf3;
    transform: rotateX(90deg) translateZ(360px);
    border-radius: 10px;
    transition: .3s linear .3s;
}

.box-footer {
    position: absolute;
    left: 0;
    top: -150%;
    height: 200px;
    width: 200px;
    background: #7accff;
    box-shadow: inset 0px 0px 50px #c3e8ff, inset 0px 2px 20px #219cf3;
    transform: rotateX(90deg) translateZ(-400px);
    border-radius: 10px;
    transition: .3s linear .3s
}
.cube-open:hover .cube-light span {
    transform: rotateY(calc(90deg var(--i))) translateZ(200px);
}

.cube-open:hover .box-top {
    top: 30%;
}

.cube-open:hover .box-footer {
    top: -50%;
}

.black-square {
    content: "";
    position: absolute;
    left: -100px;
    top: 130%;
    height: 160px;
    width: 190px;
    border-radius: 5px;
    z-index: -2;
    transform: translateY(-50%) matrix3d(1, 0, 0, -0.008, 0, 1, 0, 0.01, 0, 0, 1, 0, 0, 0, 0, 2);
    background: transparent;
    box-shadow: 0px 0px 20px #219cf3, 0px 2px 16px #219bf3, inset -8px 8px 10px #3e5ec2, inset 5px -6px 17px #125f73;
}
