/* Targeting page3 */
-page3 
{
    overflow: hidden;
    padding: 170px 10% 240px 10%;
}

/* Styles for .payment */
.payment h1 
{
    max-width: none;
    margin-bottom: 30px;
}

.payment p 
{
    margin-bottom: 0;
}

.payment h3 
{
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
}

.text 
{
    position: relative;
}

/* Styles for .pay */
.pay 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 50px;
    position: relative;
    width: 1450px;
}

.flex-pay 
{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 35px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    background: #14182b;
    box-shadow: 0px 0px 18px #21def3, 
    0px 0px 16px #219bf3, 
    inset -8px 8px 10px #3e5ec2,
     inset 5px -6px 17px #125f73;
    border-radius: 20px;
    padding: 30px;
    width: 275px;
    height: 175px;
    cursor: pointer;
    transition: 0.45s cubic-bezier(0.6, 0.15, 0, 0.74);
}

/* Hover effect for .box1 to .box7 */
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover,
.box7:hover {
    transform: scale(1.2);
}

/* Styles for .box2, .box3, .box4 */
.box2,
.box3,
.box4 {
    background: #641e69;
    box-shadow: 0px 0px 18px #f321de, 8px 0px 16px #ca21f3, inset 7px -8px 10px #c23ebe, inset -5px 2px 17px #1b1273;
}

/* Styles for .box5, .box6, .box7 */
.box5,
.box6,
.box7 {
    background: #1f0a50;
    box-shadow: 0px 0px 5px #219cf3, 8px 8px 7px #219cf3, inset 15px -10px 16px #653ec2, inset -5px 2px 17px #124b73;
}

/* Styles for paragraphs inside .box1 to .box7 */
.box1 p,
.box2 p,
.box3 p,
.box4 p,
.box5 p,
.box6 p,
.box7 p 
{
    color: white;
    font-size: 1.0rem;
    max-width: none;
    margin-bottom: 0px;
    margin-top: 30px;
}

/* Styles for lines (.line-box1 to .line-box7, .line-boxa) */
.line-box1,
.line-box2,
.line-box3,
.line-box4,
.line-box5,
.line-box6,
.line-box7,
.line-box8 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    background: transparent;
    box-shadow: 0px 0px 18px #21d0f3, 3px 4px 9px #f321de, inset 0px -5px 12px #3e5ec2, inset 0px 1px 15px #f321de;
    width: 450px;
    height: 40px;
    z-index: -3;
    transition: 0.95s cubic-bezier(0.6, 0.15, 0, 0.74) 0.5s;
    animation: shadow 7s ease-in-out forwards infinite;

}

/* Styles for .line-box2 */
.line-box2 {
    top: 68%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(36deg);
    animation: shadow 9.5s ease-in-out forwards infinite;

}

/* Styles for .line-box3 */
.line-box3 {
    top: 26%;
    left: 28%;
    transform: translate(-50%, -50%) rotate(325deg);
    animation: shadow 11s ease-in-out forwards infinite;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 18px #21d0f3, 
            3px 4px 9px #f321de, 
            inset 8px -5px 12px #3e50c2, 
            inset 0px 1px 15px #f321de;
    }
    25% {
        box-shadow: 
            0px 0px 18px #21def3, 
            3px 4px 9px #f321de, 
            inset 8px 5px 12px #3e5ec2, 
            inset 0px 1px 15px #f321de;
    }
    40% {
        box-shadow: 
            7px -7px 20px #21d0f3, 
            -6px 7px 9px #f321de, 
            inset 8px -11px 12px #3e5ec2, 
            inset -6px 4px 10px #f321de;
    }
    75% {
        box-shadow: 
            -6px 7px 20px #21d0f3, 
            -5px 8px -9px #f321de, 
            inset -8px 8px 12px #3e5ec2, 
            inset 2px 3px 10px #f321de;
    }
    100% {
        box-shadow: 
            0px 0px 10px #21d0f3, 
            3px 4px 9px #f321de, 
            inset 0px 5px 12px, 
            inset 8px 1px 15px #3e5ec2, 
            #f321de;
    }
}


/* Styles for .line-box4 */
.line-box4 {
    top: 36%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(325deg);
    box-shadow: 0px 0px 18px #21d0f3, 6px 5px 9px #653ec2, inset 8px -5px 12px #3e5ec2, inset 8px 5px 15px #653ec2;
    animation: shadow2 9s ease-in-out forwards infinite;
    
}

.line-box5 {
    top: 37%;
    left: 62%;
    transform: translate(-50%, -50%) rotate(35deg);
    box-shadow: 0px 0px 18px #21d0f3, 6px 5px 9px #653ec2, inset 8px -5px 12px #3e5ec2, inset 8px 5px 15px #653ec2;
    animation: shadow2 9.5s ease-in-out forwards infinite;

}
.line-box6 {
    top: 14%;
    left: 58%;
    transform: translate(-50%, -50%) ;
    box-shadow: 0px 0px 18px #21d0f3, 6px 5px 9px #653ec2, inset 8px -5px 12px #3e5ec2, inset 8px 5px 15px #653ec2;
    animation: shadow2 10s ease-in-out forwards infinite;

}
.line-box7 {
    top: 68%;
    left: 61%;
    transform: translate(-50%, -50%) rotate(333deg);
    box-shadow: 0px 0px 18px #21d0f3, 6px 5px 9px #653ec2, inset 8px -5px 12px #3e5ec2, inset 8px 5px 15px #653ec2;
    animation: shadow2 10.5s ease-in-out forwards infinite;

}
.line-box8 {
    top: 85%;
    left: 62%;
    transform: translate(-50%, -50%) ;
    box-shadow: 0px 0px 18px #21d0f3, 6px 5px 9px #653ec2, inset 8px -5px 12px #3e5ec2, inset 8px 5px 15px #653ec2;
    animation: shadow2 11s ease-in-out forwards infinite;

}


@keyframes shadow2 {
    0% {
        box-shadow: 
            0px 0px 18px #21d0f3,
            6px 5px 9px #653ec2,
            inset 0px -5px 12px #3e5ec2,
            inset 8px 5px 15px #653ec2;
    }
    25% {
        box-shadow: 
            0px 0px 10px #21d0f3,
            6px 5px 9px #653ec2,
            inset 0px -5px 12px #3e5ec2,
            inset 8px 5px 15px #653ec2;
    }
    40%{
        box-shadow: 
        7px -7px 20px #21d0f3,
        -6px 7px 15px #653ec2,
        inset 8px -11px 12px #3e5ec2,
        inset -8px 5px 10px #653ec2;
    }
    60% {
        box-shadow: 
            7px -7px 20px #21d0f3,
            -6px 7px 15px #653ec2,
            inset 8px -11px 12px #3e5ec2,
            inset 5px -6px 10px #653ec2;
    }
    75% {
        box-shadow: 
            -7px 7px 20px #21d0f3,
            6px 7px 15px #6530c2,
            inset 8px 8px 12px #3e5ec2,
            inset -8px 5px 10px #6530c2;
    }
    100% {
        box-shadow: 
            0px 0px 18px #21dbf3,
            6px 5px 9px #653ec2,
            inset 0px 5px 12px,
            inset 8px 5px 15px #6350c2;
    }
}

/* Styles for .box-icon */
.box-icon {
    width: 100%;
    height: 500px;
    position: relative;
}

/* Styles for .box-click1 to .box-click6 */
.box-click1,
.box-click2,
.box-click3,
.box-click4,
.box-click5,
.box-click6,
.box-click7 {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -3;
    transition: 1.1s cubic-bezier(0.6, 0.15, 0, 0.74) .5s;
    opacity: 0;
}

/* Styles for .center-box */
.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
}

/* Styles for .box-icon */
.box-icon  ion-icon{
    color: white;
    font-size: 13.0rem;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px; /* Assuming "sex" is meant to be "5px" */
    width: 200px;
    animation: shadow2 5s ease-in-out forwards infinite; /* Assuming "Infinite" is meant to be "infinite" */
}

/* Styles for #color1 */
#color1 {
    background: #14182b;
    box-shadow: 
        0px 0px 18px #21d0f3, 
        0px 0px 16px #219bf3, 
        inset -8px 8px 10px #3e5ec2, 
        inset 5px -6px 17px #125f73;
}

/* Styles for #color2 */
#color2 {
    background: #641e69;
    box-shadow: 
        0px 0px 18px #f321de, 
        8px 0px 16px #ca21f3, 
        inset 7px -8px 10px #c23ebe, 
        inset -5px 2px 17px #1b1273;
}

/* Styles for #color3 */
#color3 {
    background: #1f0a50;
    box-shadow: 
        0px 0px 5px #219cf3, 
        8px 8px 7px #219cf3, 
        inset 15px -10px 16px #653ec2, 
        inset -5px 2px 17px #124b73;
}


/* Styles for .flex-link */
.flex-link {
    display: flex;
    grid-gap: 150px;
    transition: 8.95s cubic-bezier(0.6, 0.15, 0, 0.74) 0.45s;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
}

/* Styles for .flex-link a */
.flex-link a {
    padding: 7px 60px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.4s ease-in 0.2s;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 8px 7px #219cf3, 0px 0px 10px #219cf3;
    font-size: 1.5rem;
}

/* Styles for .black-square2 */
.black-square2 {
    content: '';
    position: absolute;
    left: 265px;
    top: 50%;
    height: 160px;
    width: 190px;
    border-radius: 5px;
    z-index: -3;
    transform: translateY(-50%) matrix3d(1, 0, 0, 0.01, 1, 1, 0, 0.007, 0, 0, 1, 0,0,8,0,1);
    background: transparent;
    box-shadow: 
        0px 8px 5px #219cf3,
        8px 2px 9px #219bf3,
        inset -10px 3px 12px #3e5ec2,
        inset 5px -6px 14px #125f73;
}

